body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid red;
  border-color: navy red black chartreuse;
  background-clip: padding-box;
  animation-name: circle;
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}